
h1 {
  color: blue;
  font-size: 50px;
  font-family: helvetica;

  }

  body {
        text-align: center;
        background-image: url(2aec1c03c4fb6afedb0f1d9da362b64a.jpg);
        background-size: contain;
        background-position: center;
        background-repeat:no-repeat;
        color: pink;
        font-family: helvetica;
      }
