h1 {background-color: red;
  color: white;
  text-align: center;
  font-family: fantasy;
}

img {border-radius: 8px;}

.container1 {position: relative; width: 50%;
}

.overlay {position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #ff944d;
  overflow: hidden;
  width: 50%;
  height:0;
  transition: .5s ease;
}

.container1:hover .overlay {
  bottom: 0;
  height: 100%;
}
